*.tfvars
*.tfstate
*.tfstate.*
.terraform.lock.hcl
start-network
roteiro.md
sugestoes-week2.md
summary.md
phase1.md
plan-week3.md
passos_progresso_semana2.md
mapeamento-yml-hcl.md
generic-example.tf
rbb_github.txt
grafana-instructions.txt
storytelling-readme.md
plan-week4.md
progresso-semana2-checkpoint.md
commands.md
